* {
    margin: 0;
    padding: 0;
}

h1 {
   background-color: rgb(223, 189, 255);
   color: black;
   font-size: 50px;
   text-align: center;
   margin: 10px;
}

p {
   background-color: rgb(175, 255, 255);
   color: black;
   
   text-align: center;
   font-size: 50px;

display: flex;
   justify-content: center;
   align-items: center;
}

.header {
   display:flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: wrap;
   gap: 10px;
   align-content: space-between;
   height: 500px;
}

.item5 {
   flex-grow: 0;
   flex-shrink: 2;
   flex-basis: 200px;
   align-self:flex-end ;
   order: 2;

}

.item6 {
   flex-grow: 0;
   flex-shrink: 1;
   order: 1;
}